{% extends "header_and_footer.html" %}

{% block link %}
<link rel="stylesheet" href="../static/css/about.css" />
{% endblock %}

{% block nav %}
<li><a href="/">Inicio</a></li>
<li><a href="/about" class="mark">Sobre</a></li>
<li><a href="/contact">Contato</a></li>
{% endblock %}

{% block content %}
<main>
    <section class="content_1">
        <h1>Sobre Mim</h1>
        <hr>
        <article class="paragraph">
            <p>Olá, meu nome é Luiz Felipe, nasci no dia 13 de novembro de 2004 em Santo André, São Paulo. atualmente possuo 18 anos e estou cursando faculdade na FATEC de São José dos Campos, a cidade que atualmente moro.</p>
            <p>Mas não comecei a estudar a área de TI na faculdade não! estudo essa área dês de 2017, onde fiz um curso de 3 anos de informatica na Microcamp SJC, além de ter feito um ensino médio tecnico na ETEC SJC.</p>
            <p>Então, ja tenho uma certa experiencia nesta área :)</p>
        </article>
    </section>
    <hr id="main_hr">
    <section class="content_2">
        <h1>Conhecimentos</h1>
        <article class="paragraph">
            <p>Como foi falado antes, eu passei por alguns cursos de informatica, e além disso eu sempre fui muito curioso, então aprendi muita coisa por conta própria.</p>
            <p>Abaixo estão as meus principais conhecimentos:</p>
        </article>
        <article class="knowledge">
            <div id="html" class="knowledge-content">
                <abbr title="HTML é a sigla para HyperText Markup Language, que é uma linguagem de marcação usada para criar páginas web. É usado para estruturar e dar forma ao conteúdo da web, como texto, imagens e outros conteúdos multimídia.">
                    <img src="../static/img/knowledge/html.png" alt="">
                </abbr>
            </div>
            <div id="css" class="knowledge-content">
                <abbr title="CSS é a abreviação de Cascading Style Sheets, que são folhas de estilo usadas para definir a apresentação de documentos escritos em uma linguagem de marcação, como HTML.">
                    <img src="../static/img/knowledge/css.png" alt="">
                </abbr>
            </div>
            <div id="javascript" class="knowledge-content">
                <abbr title="JS é a abreviação para JavaScript, que é uma linguagem de programação de alto nível orientada a objetos. É usada principalmente para criar conteúdo interativo e dinâmico para sites web.">
                    <img src="../static/img/knowledge/js.png" alt="">
                </abbr>
            </div>
            <div id="python" class="knowledge-content">
                <abbr title="Python é uma linguagem de programação de alto nível, interpretada e de código aberto. É amplamente utilizada para desenvolvimento web, análise de dados, inteligência artificial e muito mais. Possui sintaxe simples e intuitiva, tornando-a fácil de aprender e usar. Além disso, existem muitas bibliotecas e frameworks disponíveis para ajudar os desenvolvedores a criar aplicativos robustos e avançados.">
                    <img src="../static/img/knowledge/python.png" alt="">
                </abbr>
            </div>
            <div id="mysql" class="knowledge-content">
                <abbr title="MySQL é um sistema de gerenciamento de banco de dados relacional (RDBMS)">
                    <img src="../static/img/knowledge/mysql.png" alt="">
                </abbr>
            </div>
        </article>
    </section>
</main>
{% endblock %}