{% extends "header_and_footer.html" %}

{% block link %}
<link rel="stylesheet" href="../static/css/contact.css" />
{% endblock %}

{% block nav %}
<li><a href="/">Inicio</a></li>
<li><a href="/about">Sobre</a></li>
<li><a href="/contact" class="mark">Contato</a></li>
{% endblock %}

{% block content %}
<main>
    <h1>Informações de Contato</h1>
    <hr>
    <section class="content">
        <article class="social">
            <h2>Redes Sociais</h2>
            <ul>
                <li>
                    <img src="../static/img/icon/instagram_mark.png" alt="">
                    <a href="https://www.instagram.com/tren.felipe/">Instagram</a>
                </li>
                <li>
                    <img src="../static/img/icon/github_mark.png" alt="">
                    <a href="https://github.com/felipe-sant">Github</a>
                </li>
                <li>
                    <img src="../static/img/icon/linkedin-mark.png" alt="">
                    <a href="https://www.linkedin.com/in/lfelipesant/">Linkedin</a>
                </li>
                <li>
                    <img src="../static/img/icon/twitter_mark.png" alt="">
                    <a href="https://twitter.com/tren_felipx">Twitter</a>
                </li>
            </ul>
        </article>
        <article class="contact">
            <h2>Contato Direto</h2>
            <form action="">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Assunto">
                <textarea cols="30" rows="5" placeholder="Mensagem"></textarea>
                <input type="submit"></input>
            </form>
        </article>
    </section>
</main>
{% endblock %}