<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="shortcut icon" href="../static/img/logo-cat/cat-logo-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/header_and_footer.css">
    {% block link %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="left-box">
            <img src="../static/img/logo-cat/cat-logo-64.png" alt="">
            <a href="#">FELIPE-SANT</a>
        </div>
        <nav class="right-box">
            <input id="menu-hamburguer" type="checkbox">
            <label for="menu-hamburguer">
                <div class="menu">
                    <span class="hamburguer"></span>
                </div>
            </label>
            <span id="invisible-box"></span>
            <ul>
                {% block nav %} 
                {% endblock %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <section class="center">
            <div id="img"><img src="../static/img/logo-cat/cat-logo-128.png" alt=""></div>
            <div id="contato">
                <h1>Contato</h1>
                <div id="email"><p>suport@company.com</p></div>
                <div id="phone"><p>+55 12 99999-9999</p></div>
            </div>
            <div id="rede_sociais">
                <h1>Redes Sociais</h1>
                <div>
                    <a href="https://github.com/felipe-sant"><img src="../static/img/icon/github_icon.png" alt="github"></a>
                    <a href="https://www.instagram.com/tren.felipe/"><img src="../static/img/icon/instagram_icon.png" alt="instagram"></a>
                    <a href="https://twitter.com/tren_felipx"><img src="../static/img/icon/twitter_icon.png" alt="twitter"></a>
                </div>
            </div>
        </section>
        <section id="footer">
            <hr>
            <p>Todos os direitos reservados</p>
        </section>
    </footer>
</body>
</html>