{% extends "header_and_footer.html" %}

{% block link %}
<link rel="stylesheet" href="../static/css/home.css" />
{% endblock %}

{% block nav %}
<li><a href="/" class="mark">Inicio</a></li>
<li><a href="/about">Sobre</a></li>
<li><a href="/contact">Contato</a></li>
{% endblock %}

{% block content %}
<main>
    <section class="content_1">
        <article class="text">
            <div class="paragraph">
                <h2>Luiz Felipe dos Santos</h2>
                <p>Olá, meu nome é Luiz Felipe, mas pode me chamar de Felipe, atualmente sou um <strong>estudante de programação</strong> na Fatec de São José dos Campos no curso de DSM. Aqui neste site você encontrara mais informações sobre mim.</p>
                <a href="https://github.com/felipe-sant?tab=repositories">Meus Repositórios!</a>
            </div>
        </article>
        <article class="image">
            <img src="../static/img/me/desktop.png" alt="minha foto">
        </article>
    </section>
    <section class="content_2">
        <h1>Meus Projetos</h1>
        <article class="area_project">
            <a href="https://github.com/felipe-sant/devweb_desafio" class="project" id="project_1">
                <h2>{{project_1}}</h2>
                <p>{{desc_p1}}</p>
                <div class="star">
                    <img src="../static/img/icon/star.png" alt="star">
                    <p>0</p>
                </div>
            </a>
            <!--
            <a href="#" class="project" id="project_2">
                <h2>Projeto 2</h2>
                <p>Texto que descreve o projeto</p>
                <div class="star">
                    <img src="../static/img/icon/star.png" alt="star">
                    <p>0</p>
                </div>
            </a>
            <a href="#" class="project" id="project_3">
                <h2>Projeto 3</h2>
                <p>Texto que descreve o projeto</p>
                <div class="star">
                    <img src="../static/img/icon/star.png" alt="star">
                    <p>0</p>
                </div>
            </a>
            <a href="#" class="project" id="project_4">
                <h2>Projeto 4</h2>
                <p>Texto que descreve o projeto </p>
                <div class="star">
                    <img src="../static/img/icon/star.png" alt="star">
                    <p>0</p>
                </div>
            </a>
            <a href="#" class="project" id="project_5">
                <h2>Projeto 5</h2>
                <p>Texto que descreve o projeto</p>
                <div class="star">
                    <img src="../static/img/icon/star.png" alt="star">
                    <p>0</p>
                </div>
            </a>
            <a href="#" class="project" id="project_6">
                <h2>Projeto 6</h2>
                <p>Texto que descreve o projeto</p>
                <div class="star">
                    <img src="../static/img/icon/star.png" alt="star">
                    <p>0</p>
                </div>
            </a>
            -->
        </article>
    </section>
</main>
{% endblock %}