@charset "uft-8";

main {
    margin: auto;
    max-width: 1200px;
    min-width: none;
    height: 1800px;
    font-family: "Inter", sans-serif;
    color: #202020;
}

main section.content_1 {
    padding: 120px 10px ;
    text-align: center;
}

main section.content_1 h1 {
    font-size: 2em;
    font-weight: normal;
}

main section.content_1 hr {
    margin: 0px auto 40px auto;
    border: 1px solid #202020;
    width: 5%;
}

main section.content_1 article.paragraph {
    margin: auto;
    width: 580px;
}

main section.content_1 article.paragraph p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 40px;
    font-weight: 300;
}

main hr#main_hr {
    margin: auto;
    width: 80%;
}

main section.content_2 {
    padding: 100px;
}

main section.content_2 h1 {
    margin-bottom: 60px;
    font-size: 2em;
    font-weight: normal;
}

main section.content_2 h1::before {
    content: "|";
    margin-right: 10px;
    font-weight: 200;
}

main section.content_2 article.paragraph p {
    margin-bottom: 20px;
    font-size: 1.1em;
    text-indent: 30px;
    line-height: 30px;
    font-weight: 300;
}

main section.content_2 article.knowledge {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 810px;
    min-width: none;
    padding: 60px;
}

main section.content_2 article.knowledge div.knowledge-content {
    margin: 20px auto;
    padding: 10px;
    height: 190px;
    width: 175px;
    border-radius: 20px;
    display: grid;
    align-content: center;
}

/*

main section.content_2 article.knowledge div#html.knowledge-content {
    background-color: rgba(241, 101, 36, 0.6);
    border: 2px solid #E54C21;
}

main section.content_2 article.knowledge div#css.knowledge-content {
    background-color: rgba(36, 101, 241, 0.6);
    border: 2px solid #214CE5;
}

main section.content_2 article.knowledge div#javascript.knowledge-content {
    background-color: rgba(255, 217, 0, 0.6);
    border: 2px solid #E4BD00;
}

main section.content_2 article.knowledge div#python.knowledge-content {
    background-color: rgba(254, 210, 66, 0.6);
    border: 2px solid #3571A3;
}

*/

main section.content_2 article.knowledge div.knowledge-content abbr img {
    margin: auto;
    display: block;
    width: 100%;

}
