@charset "uft-8";

main {
    margin: auto;
    max-width: 1200px;
    min-width: none;
    font-family: "Inter", sans-serif;
    color: #202020;
}

main h1 {
    margin: 80px 0px 15px 0px;
    text-align: center;
    font-weight: 400;
}

main hr {
    width: 80px;
    border: 1px solid #202020;
    margin: auto;
}

main section.content {
    margin: 60px 0px;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

main section.content article {
    margin: auto;
    width: 500px;
    padding: 20px;
}

main section.content article.social {
    height: 400px;
}

main section.content article.social h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 400;
}

main section.content article.social h2::before {
    content: "|";
    margin-right: 10px;
    font-weight: 200;
}

main section.content article.social ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

main section.content article.social ul li {
    display: flex;
    margin-bottom: 10px;
    font-size: 1.1em;
}

main section.content article.social ul li img {
    width: 30px;
    height: 30px;
    margin: 0px;
}

main section.content article.social ul li a {
    margin-left: 5px;
    text-decoration: none;
    color: #202020;
    display: grid;
    align-items: center;
}

main section.content article.contact {
    background-color: var(--roxo);
    border-radius: 20px;
    border: 2px solid var(--roxo_sombra);
    width: 400px;
    box-shadow: 1px 0px 5px hsla(0, 0%, 0%, 0.8);
}

main section.content article.contact h2 {
    margin: 30px;
    text-align: center;
    color: white;
}

main section.content article.contact form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

main section.content article.contact form input,textarea {
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #202020;
    width: 300px;
    border-radius: 15px;
}

main section.content article.contact form input[type="submit"] {
    background-color: var(--roxo);
    margin: 10px auto;
    width: 100px;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    cursor: pointer;
}